<module>
	<rawname>endpointman</rawname>
	<repo>standard</repo>
	<name>PBX End Point Manager</name>
	<version>2.10.0.5</version>
	<type>setup</type>
	<category>Connectivity</category>
	<publisher>Andrew Nagy</publisher>
	<license>MPLv1.1</license>
	<menuitems>
		<epm_devices sort="1">End Point Device List</epm_devices>
		<epm_templates sort="2">End Point Template Manager</epm_templates>
		<epm_config sort="3">End Point Configuration</epm_config>
		<epm_advanced sort="4">End Point Advanced Settings</epm_advanced>
	</menuitems>
	 <description>PBX End Point Manager supports automated deployment of multiple manufacturers IP telephones.</description>
	 <changelog>
            https://github.com/tm1000/freepbx-endpointmanager/commits/master
        </changelog>
	<info>https://github.com/tm1000/freepbx-endpointmanager</info>
	<location>2.10/endpointman-2.10.0.3.tgz</location>
	<depends>
		<version>2.10alpha1</version>
	</depends>
	<requirements>
		<module>core</module>
		<module>fw_ari</module>
	</requirements>
<md5sum>856903a3ead940bb07b38cb2dc70c8ed</md5sum>
</module>
