<module>
	<rawname>endpointman</rawname>
	<name>PBX End Point Manager</name>
	<version>2.2.9</version>
	<type>tool</type>
	<category>End Point Manager</category>
	<publisher>Andrew Nagy</publisher>
	<license>GPLv2</license>
	<menuitems>
		<epm_devices sort="1">End Point Device List</epm_devices>
		<epm_templates sort="2">End Point Template Manager</epm_templates>
		<epm_config sort="3">End Point Configuration</epm_config>
		<epm_advanced sort="4">End Point Advanced Settings</epm_advanced>
	</menuitems>
	 <description>PBX End Point Manager supports automated deployment of multiple manufacturers IP telephones.</description>
	 <changelog>
                *2.2.8* Fixed User & Devices error.
                *2.2.6* Fixed download progress so that it displays. 
		*2.2.5* Fixed Debug Always on Error &amp File download errors &amp Fix float error on install
        </changelog>
	<info>http://projects.colsolgrp.net/projects/show/endpointman</info>
	<location>contributed_modules/release/endpointman-2.2.9.tgz</location>

<md5sum>c9dd08b16ad7e9eb41164ab3a8e0123f</md5sum>
</module>
