        <?php echo _('Example of Variables allowed in boxes')?>:<br />{noparse}
	-"{$server.ip.1}" = <?php echo _('Server 1 IP')?><br />
        -"{$server.port.1}" = <?php echo _('Server 1 Port')?><br />
	-"{$mac}" = <?php echo _('Device\'s Mac Address')?><br />
        -"{$model}" = <?php echo _('Device\'s Model')?><br />
	-"{$ext.line.1}" = <?php echo _('Device\'s Default Extension (Line 1 or Master)')?><br />
	-"{$displayname.line.1}" = <?php echo _('Device\'s Description in FreePBX (Usually the Full Name)')?><br />{/noparse}