        <?php echo _('Example of Variables allowed in boxes')?>:<br />{noparse}
	-"{$username.line.1}" = <?php echo _('Device\'s Username (usually the extension)')?><br />
	-"{$displayname.line.1}" = <?php echo _('Device\'s Description in FreePBX (Usually the Full Name)')?><br />
	-"{$server_host.line.1}" = <?php echo _('Server IP For Line 1')?><br />
        -"{$server_port.line.1}" = <?php echo _('Server Port For Line 1')?><br />
	-"{$mac}" = <?php echo _('Device\'s Mac Address')?><br />
        -"{$model}" = <?php echo _('Device\'s Model')?><br />{/noparse}