@CHARSET "ISO-8859-1";


#epm_templates code.inline {
  padding: 2px 4px;
  font-size: 0.8em;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

#epm_templates ul.nobullets {
    list-style-type: none;
}

#epm_templates li {
  line-height: 24px;
}

div.input-group-br {
	margin-bottom: 5px;
}