/*
 *  Liquid Slider v2
 *  Copyright 2012 Kevin Batdorf
 *  http://liquidslider.com
 *  MIT license
 */

.no-js .liquid-slider {
  height: 100%;
  overflow:scroll;
}
.ls-preloader {  
  background: url("/admin/assets/endpointman/images/ic_progress_azul.gif") #64C3FF no-repeat center 50%;
  opacity:1;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2;

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

/*** Containers ***/
.ls-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
  
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	
	padding: 15px;
  	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	
	margin-bottom: 20px;
}
.liquid-slider {
  width: 100%;
/*  margin: 0 auto;*/
  float: left;
  overflow: hidden;
  position: relative;
    
	visibility: hidden;
	
/*	background: #e7a61a;*/
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;	
	
  	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
}
.arrows .liquid-slider {
  /* Margin between slider and arrows */
  margin: 0 10px;
}
.ls-responsive .liquid-slider {
  width: 100%;
  margin: 0;
}
.panel-container {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  /* from http://davidwalsh.name/translate3d */
}
.liquid-slider .panel-container .fade {
  width:100%;
  opacity: 0;
  position: absolute;
  top: 0; 
  left: 0;
  display: block;
}

/*** Panels ***/
.liquid-slider .ls-panel {
  width: 100%;
  display: block;
  float: left;
}
.panel-wrapper {  
  padding: 15px 40px;
  position:relative;
}







/*** Tabbed Navigation ***/
.ls-nav {
  overflow:hidden;
  clear:both;
  
  padding: 20px;
}
.ls-nav a {
	display: inline-block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
	outline:0;

	text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.76);
	font-weight: bold;
	text-transform: capitalize;
}
.ls-nav a:hover {
	background-color: #111;
}
.ls-nav .current a, .ls-nav .current a:hover {
	background-color: #4CAF50;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.76);
}
.currentCrossLink {
  /*font-weight: bold;*/
}
.ls-nav ul {  
	clear: both;
	display: inline-block;
	list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
	
	position: relative;
	left: 50%;
	transform: translate(-50%);
	
	/*width: 100%;  //SI SE ACTIVA ESTA LINEA SE VERA EL LISTADO EN MODO MOVIL*/
	}
.ls-nav ul li, .ls-nav ul li a  {
	display: inline-block;
}
.ls-nav ul li a {
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
}
.ls-nav ul li a:hover {
    background-color: #111;
}




/*** Mobile Navigation ***/
.ls-select-box {
	width: 100%;
	height: 35px;
	overflow: hidden;
	
	background-image: url("/admin/assets/endpointman/images/menu.png");
	background-repeat: no-repeat;
    background-position: right 10px center; 
	background-color: #4CAF50;
	
	color: #FFFFFF;
	border-radius: 10px 10px 10px 0px;
	-moz-border-radius: 10px 10px 10px 0px;
	-webkit-border-radius: 10px 10px 10px 0px;
}
.ls-select-box select {  
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  background: transparent;
  padding: 5px;
  font-size: 110%;
  border: none;
  height: 35px;
  cursor:pointer;
  outline: 0;
  
/*  background-color:#000000;*/
  color: #FFFFFF;
}

/*** Arrow Navigation (non-graphical) ***/
.ls-nav-left, .ls-nav-right {
  top:0;
  float: left;
  clear:both;
}
.ls-nav-left a, .ls-nav-right a {
  background: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.ls-responsive .ls-nav-left {
  position: absolute;
  left: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-left a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-left a:hover {
  background: #747474;
}
.ls-responsive .ls-nav-right {
  position: absolute;
  right: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-right a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-right a:hover {
  background: #747474;
}

/*** Arrow Navigation (graphical) ***/
.ls-nav-left-arrow, .ls-nav-right-arrow {
  cursor: pointer;
  float: left;
  clear: both;
}
.ls-nav-left-arrow a, .ls-nav-right-arrow a {
  display: block;
}
[class$="-arrow"] {
  width: 25px;
  height: 25px;
  background-image: url("/admin/assets/endpointman/images/arrow.png");
  background-repeat: no-repeat;
  margin-top: 50px;
  position:relative;
}
.ls-nav-right-arrow {
  background-position: top right;  
  margin-right: 5px;
}
.ls-nav-left-arrow {
  background-position: top left;  
  margin-left: 5px;
}
.ls-nav-left-arrow:hover {
  background-position: bottom left;
}
.ls-nav-right-arrow:hover {
  background-position: bottom right;
}
.ls-responsive .ls-nav-left-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
}
.ls-responsive .ls-nav-right-arrow {
  position: absolute;
  right: 20px;
  z-index: 2;
}
